<!DOCTYPE configuration>

<configuration scan="true">
  <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <springProfile name="local,test">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="logback/logback-console.xml"/>
  </springProfile>

  <springProfile name="dev,qa,prod">
    <include resource="logback/logback-json.xml"/>
  </springProfile>
</configuration>
