<?xml version="1.0" encoding="UTF-8"?>
<included>
  <logger name="{{packageName}}" level="INFO"/>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <appender name="sentry" class="io.sentry.logback.SentryAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>

  <root level="INFO" additivity="false">
    <appender-ref ref="stdout"/>
    <appender-ref ref="sentry"/>
  </root>
</included>
