[mysqld]
pid-file	            = /var/run/mysqld/mysqld.pid
socket		            = /var/run/mysqld/mysqld.sock
datadir		            = /var/lib/mysql

# How to find general log path
# SHOW VARIABLES LIKE '%general%';

# How to turn on and off general log at runtime
# SET GLOBAL general_log = 'ON';

general_log_file      = /var/log/mysql/mysql.log
general_log           = 1

# Default value of 'local_infile' is 'ON'
# If you have error in running 'LOAD DATA LOCAL INFILE ...',
#   reconect your mysql client with '--loose-local-infile' option
# loose_local_infile    = 1
